In [1]:
import pandas as pd

In [2]:
parqet_file = r'C:\Users\BHMaheshwari\Desktop\de-coding-round-data.snappy.parquet'

In [139]:
df = pd.read_parquet(parqet_file, engine="auto")
pd.set_option("display.max_columns", None)
df.head()
#answer to question one
#this cell represents the schema

,cid,acct_id,debit_card_or_credit_card,merchant,mid,tid,mcc,arn,txn_time,merchant_country_code,pos_type,merchant_pin,txn_date,moto_indicator,amount,debit_txn_or_credit_txn,merchant_city,txn_received_date,monthYear,merchant_lower,authcode,txn_runid,is_reversal,currency,txn_id,brand_industry,brand_sub_industry,cat,Brand_V2,Brand_V1,clean_brand_id,clean_brand,clean_brand_category,clean_brand_subcategory,clean_brand_segment,brand_sub_industry_id,Clean_Brand_Name,Service_Delivery,Gender_focus,Age_focus,Presence,Segment,Payment_mode,SKU,Parent_Company_Name,Main_Industry,Sub_Industry_1,Sub_Industry_2_Cuisine,Sub_Industry_3_Cost_for_2,Sub_Industry_Alcohol_Available,Category,Sub_Category,brand_sub_industry_business,clean_brand_city,clean_brand_state,clean_brand_country,clean_brand_parsing_Type,clean_brand_payment_gateway,clean_brand_parsed_flag,opening_date,can_send_email,joining_date,office_city,card_setup_date,can_send_sms,account_type,employment,can_send_netbanking,home_branch,office_city_lower,interchange_rate,credit_limit,resi_pin,resi_city_lower,app_id,can_send_push,office_pin,is_addon,cmr_received_date,resi_city,marital_status,nbr_addon,cmr_runid,gender,birthyear,age,revolve_tag,clean_customer_city_id,clean_customer_city,clean_customer_state,clean_resi_city,clean_office_city,bank,card_type,variant,card_clearing_house,product_type_id
0,0204101012990832141,NA,C,*CIDCOMAHASBIEP,82001498,82001499,9399,None,1970-01-01 18:32:50,None,,None,2019-06-07,None,32546,D,MUMBAI,2019-06-26 11:02:20,201906,*cidcomahasbiep,T87711,2955c060-9873-11e9-9e9a-0a580af416e8,None,None,None,Miscellaneous,Government Services,GENERAL PURPOSE,CIDCOMAHASBIEP - GENERAL PURPOSE,CIDCOMAHASBIEP,4202.0,City & Industrial Development Corporation of M...,Miscellaneous,84.0,Premium,84.0,City & Industrial Development Corporation of M...,Brick & Mortar Only,Both,All,Regional,Premium,A La catre,Own Brand,Government of India,Miscellaneous,Government Services,None,None,None,None,None,All Miscellenous,NONE,NONE,NONE,"ETL, Single Token Type, MCC_Catg",NONE,1,None,True,None,None,None,True,None,Salaried,None,None,None,None,None,400706,navi mumbai,None,False,400706,False,2019-10-17 11:17:28,NAVI MUMBAI,None,NaN,api_trigger__2020-07-15T10:35:28.082191,F,1989.0,32.0,None,13.0,Thane,Maharashtra,Thane,Thane,rbl,Platinum Plus SuperCard,bfl,VISA,11
1,0217121006276045645,NA,C,*EASYMOVIESAPP,BLANK,BLANK,7832,None,NaT,None,,None,2018-06-04,None,321,C,MUMBAI,2018-06-06 13:00:06,201806,*easymoviesapp,T17413,f98f2efa-f004-11e8-a787-0a580af40791,None,None,None,None,None,ENTERTAINMENT,EASYMOVIESAPP - ENTERTAINMENT,EASYMOVIESAPP,NaN,None,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NONE,NONE,NONE,"ETL, Single Token Type, MCC_Catg",NONE,1,None,True,None,None,None,True,None,Salaried,None,None,None,None,None,500020,hyderabad,None,True,500044,False,2019-10-17 11:17:28,HYDERABAD,None,NaN,api_trigger__2020-07-15T10:35:28.082191,M,1993.0,28.0,None,7.0,Hyderabad,Telangana,Hyderabad,Hyderabad,rbl,PLATINUM MAXIMA,rbl,RUPAY,4
2,0217121006276045645,NA,C,*EASYMOVIESAPP,BLANK,BLANK,7832,None,NaT,None,,None,2018-09-14,None,273,C,MUMBAI,2018-09-16 11:00:41,201809,*easymoviesapp,T94119,fb573416-f005-11e8-a787-0a580af40791,None,None,None,None,None,ENTERTAINMENT,EASYMOVIESAPP - ENTERTAINMENT,EASYMOVIESAPP,NaN,None,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NONE,NONE,NONE,"ETL, Single Token Type, MCC_Catg",NONE,1,None,True,None,None,None,True,None,Salaried,None,None,None,None,None,500020,hyderabad,None,True,500044,False,2019-10-17 11:17:28,HYDERABAD,None,NaN,api_trigger__2020-07-15T10:35:28.082191,M,1993.0,28.0,None,7.0,Hyderabad,Telangana,Hyderabad,Hyderabad,rbl,PLATINUM MAXIMA,rbl,RUPAY,4
3,0217121006276045645,NA,C,*EASYMOVIESAPP,BLANK,BLANK,7832,None,NaT,None,,None,2018-09-18,None,681,C,MUMBAI,2018-09-24 12:04:49,201809,*easymoviesapp,T77790,5f08ca74-f006-11e8-a787-0a580af40791,None,None,None,None,None,ENTERTAINMENT,EASYMOVIESAPP - ENTERTAINMENT,EASYMOVIESAPP,NaN,None,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NONE,NONE,NONE,"ETL, Single Token Type, MCC_Catg",NONE,1,None,True,None,None,None,True,None,Salaried,None,None,None,None,None,500020,hyderabad,None,True,500044,False,2019-10-17 11:17:28,HYDERABAD,None,NaN,api_trigger__2020-07-15T10:35:28.082191,M,1993.0,28.0,None,7.0,Hyderabad,Telangana,Hyderabad,Hyderabad,rbl,PLATINUM MAXIMA,rbl,RUPAY,4
4,0216070000497144228,NA,C,*JABONGCOMPAYU,BLANK,BLANK,5137,None,NaT,None,,None,2018-10-12,None,1287,C,MUMBAI,2018-10-14 11:00:40,201810,*jabongcompayu,T88638,d0f6b336-f005-11e8-a787-0a580af40791,None,None,None,None,None,APPAREL,JABONGCOMPAYU - APPAREL,JABONGCOMPAYU,NaN,None,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NONE,NONE,NONE,"ETL, Single Token Type, MCC_Catg",NONE,1,None,True,None,None,None,False,None,Salaried,None,None,None,None,None,110051,new delhi,None,True,201301,False,2019-10-17 11:17:28,NEW DELHI,None,NaN,api_trigger__2020-07-15T10:35:28.082191,M,1991.0,30.0,None,15.0,Noida,Uttar Pradesh,New Delhi,Noida,rbl,FUN PLUS,rbl,MasterCard,4

In [140]:
# here we have total 428379 records
#answer to question two
#displaying the number of duplicates rows
total_rows=len(df)
df2=df.drop_duplicates(subset='cid', keep='first', inplace=False)
row_count=len(df2)
duplicate_rows=total_rows-row_count

print("Number of Duplcate Rows : ",duplicate_rows)

Number of Duplcate Rows :  364652

In [141]:
#now the number of total records decreased to 63732 after deleting the duplicates
# below line of code is to display all the columns names from the schema (required for getting the name of spend amount column)
print(df.columns.tolist())

['cid', 'acct_id', 'debit_card_or_credit_card', 'merchant', 'mid', 'tid', 'mcc', 'arn', 'txn_time', 'merchant_country_code', 'pos_type', 'merchant_pin', 'txn_date', 'moto_indicator', 'amount', 'debit_txn_or_credit_txn', 'merchant_city', 'txn_received_date', 'monthYear', 'merchant_lower', 'authcode', 'txn_runid', 'is_reversal', 'currency', 'txn_id', 'brand_industry', 'brand_sub_industry', 'cat', 'Brand_V2', 'Brand_V1', 'clean_brand_id', 'clean_brand', 'clean_brand_category', 'clean_brand_subcategory', 'clean_brand_segment', 'brand_sub_industry_id', 'Clean_Brand_Name', 'Service_Delivery', 'Gender_focus', 'Age_focus', 'Presence', 'Segment', 'Payment_mode', 'SKU', 'Parent_Company_Name', 'Main_Industry', 'Sub_Industry_1', 'Sub_Industry_2_Cuisine', 'Sub_Industry_3_Cost_for_2', 'Sub_Industry_Alcohol_Available', 'Category', 'Sub_Category', 'brand_sub_industry_business', 'clean_brand_city', 'clean_brand_state', 'clean_brand_country', 'clean_brand_parsing_Type', 'clean_brand_payment_gateway', 'clean_brand_parsed_flag', 'opening_date', 'can_send_email', 'joining_date', 'office_city', 'card_setup_date', 'can_send_sms', 'account_type', 'employment', 'can_send_netbanking', 'home_branch', 'office_city_lower', 'interchange_rate', 'credit_limit', 'resi_pin', 'resi_city_lower', 'app_id', 'can_send_push', 'office_pin', 'is_addon', 'cmr_received_date', 'resi_city', 'marital_status', 'nbr_addon', 'cmr_runid', 'gender', 'birthyear', 'age', 'revolve_tag', 'clean_customer_city_id', 'clean_customer_city', 'clean_customer_state', 'clean_resi_city', 'clean_office_city', 'bank', 'card_type', 'variant', 'card_clearing_house', 'product_type_id']

In [142]:
#answer to the third question
# this cell display the total amount spend
Total = df2['amount'].sum()
print (Total)

212404378

In [143]:
#answer to question four
#disply the count of null values in a merchant column
countnull = df2['merchant'].isna().sum()
print(countnull)

0

In [144]:
#answer to question five
#total number of transacting customers in each bank (after removing the duplicate records)
bank_count =  df2.groupby('bank')['bank'].count()
print(bank_count)
#displays the name of the bank and the count of the customers

bank
rbl      44219
rbldc    19513
Name: bank, dtype: int64

In [145]:
#answer for the question seven
#to calculate distibution of male and females 0 indicates the male distribution and 1 indicates the female distribtuion
df['gender'].replace({'M':0, 'F':1}, inplace=True)
df4=df['gender'].value_counts(normalize=True)
print(df4)

0.0    0.897837
1.0    0.102163
Name: gender, dtype: float64